<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>controller.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <servlet-class>controller.Question_Detail_Validation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionListServlet</servlet-name>
        <servlet-class>controller.QuestionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatar</servlet-name>
        <servlet-class>controller.ChangeAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonServlet</servlet-name>
        <servlet-class>controller.AddLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>controller.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuizValidationServlet</servlet-name>
        <servlet-class>controller.AddNewQuizValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPasswordServlet</servlet-name>
        <servlet-class>controller.requestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>controller.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandling</servlet-name>
        <servlet-class>controller.QuizHandling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategory</servlet-name>
        <servlet-class>controller.SearchByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListServlet</servlet-name>
        <servlet-class>controller.QuizListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expert_SubjectListServlet</servlet-name>
        <servlet-class>controller.Expert_SubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListServlet</servlet-name>
        <servlet-class>controller.RegistrationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <servlet-class>controller.SearchRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRegistrationServlet</servlet-name>
        <servlet-class>controller.SortRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <servlet-class>controller.FilterRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <servlet-class>controller.RegistrationDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRegistrationServlet</servlet-name>
        <servlet-class>controller.UpdateRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegistrationServlet</servlet-name>
        <servlet-class>controller.DeleteRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <url-pattern>/question_detail_validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionListServlet</servlet-name>
        <url-pattern>/questionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatar</servlet-name>
        <url-pattern>/changavt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonServlet</servlet-name>
        <url-pattern>/addlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/addquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuizValidationServlet</servlet-name>
        <url-pattern>/addnewquizvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/facebooklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPasswordServlet</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandling</servlet-name>
        <url-pattern>/quiz_handling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategory</servlet-name>
        <url-pattern>/searchByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListServlet</servlet-name>
        <url-pattern>/quizlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expert_SubjectListServlet</servlet-name>
        <url-pattern>/exsubjectlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListServlet</servlet-name>
        <url-pattern>/registrationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <url-pattern>/searchregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRegistrationServlet</servlet-name>
        <url-pattern>/sortregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <url-pattern>/filterregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <url-pattern>/registrationdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRegistrationServlet</servlet-name>
        <url-pattern>/updateregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegistrationServlet</servlet-name>
        <url-pattern>/deleteregistration</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListServlet</servlet-name>
        <servlet-class>controller.SubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <servlet-class>controller.SubjectDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmail</servlet-name>
        <servlet-class>controller.UpdateEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blog_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListServlet</servlet-name>
        <url-pattern>/subject_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blog_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <url-pattern>/subject_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmail</servlet-name>
        <url-pattern>/update_email</url-pattern>
    </servlet-mapping>
</web-app>
