<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>controller.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <servlet-class>controller.Question_Detail_Validation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.AddQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <url-pattern>/question_detail_validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
</web-app>
